<script lang="ts" setup>
import { ref, reactive } from "vue";

var pic = ref("../../feeling_imgs/smile.png");
var text = ref("Smile");

const changePic = (picture: string, textSet: string) => {
  pic.value = picture;
  text.value = textSet;
};
</script>
<template>
  <v-container class="justify-center">
    <v-row>
      <v-col cols="6">
        <v-img :src="pic"></v-img>
      </v-col>
      <v-col>
        <v-container>
          <v-row>
            <v-col style="text-align: center">
              <h1>{{ text }}</h1>
              <v-btn
                :color="text === 'Angry' ? 'yellow' : 'none'"
                @click="changePic('../../feeling_imgs/angry.png', 'Angry')"
                block
                >ANGRY</v-btn
              >
              <v-btn
                :color="text === 'Cute' ? 'yellow' : 'none'"
                @click="changePic('../../feeling_imgs/cute.png', 'Cute')"
                block
                >CUTE</v-btn
              >
              <v-btn
                :color="text === 'Excited' ? 'yellow' : 'none'"
                @click="changePic('../../feeling_imgs/excited.png', 'Excited')"
                block
                >EXCITED</v-btn
              >
              <v-btn
                :color="text === 'Pain' ? 'yellow' : 'none'"
                @click="changePic('../../feeling_imgs/pain.png', 'Pain')"
                block
                >PAIN</v-btn
              >
              <v-btn
                :color="text === 'Shocked' ? 'yellow' : 'none'"
                @click="changePic('../../feeling_imgs/shocked.png', 'Shocked')"
                block
                >SHOCKED</v-btn
              >
              <v-btn
                :color="text === 'Smile' ? 'yellow' : 'none'"
                @click="changePic('../../feeling_imgs/smile.png', 'Smile')"
                block
                >SMILE</v-btn
              >
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-btn {
  margin-bottom: 20px;
}
</style>
