<script lang="ts" setup>
import { ref, watch } from "vue";

var NumberIn = ref("0");
const paseNum = ref(0);

watch(
  () => NumberIn.value,
  () => {
    if (NumberIn.value === "") {
      paseNum.value = 0;
      return;
    } else {
      paseNum.value = parseInt(NumberIn.value);
    }
  }
);
</script>

<template>
  <v-container class="mx-auto">
    <v-text-field
      :rules="[(v) => !!v || 'Number Is not empty!!']"
      label="Please input Number"
      v-model="NumberIn"
      hide-details="auto"
    ></v-text-field>
    <v-container style="overflow-y: auto; height: 800px"
      ><v-row>
        <v-col v-for="item in paseNum" :key="item" cols="1" class="mt-16"
          >{{ item }}
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>
