<script lang="ts" setup>
import { ref } from "vue";

import { useShopStore } from "@/stores/shop";
import ProducCard from "@/components/ProducCard.vue";

var shopStore = useShopStore();
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-container fluid>
    <v-row class="justify-start">
      <v-col cols="8">
        <v-container style="height: 800px; overflow-y: auto">
          <v-row>
            <v-col cols="4" v-for="item in products" :key="item.id">
              <ProducCard
                :id="item.id"
                :name="item.name"
                :price="item.price"
              ></ProducCard>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="4">
        <v-container style="height: 800px; overflow-y: auto">
          <v-table>
            <thead>
              <tr>
                <th class="text-left">Id</th>
                <th class="text-left">Name</th>
                <th class="text-left">Price</th>
              </tr>
            </thead>
            <tbody v-if="shopStore.myShop.length > 0">
              <tr v-for="item in shopStore.myShop" :key="item.name">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
          <p
            class="mt-5"
            v-if="shopStore.myShop.length === 0"
            style="text-align: center"
          >
            No Data
          </p>
        </v-container>

        <h1>Sum:{{ shopStore.sum }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>
