<script setup lang="ts">
import { ref } from "vue";
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";
var first = ref(0);
var counterStore = useCounterStore();

const changeValue = (input: string) => {
  if (input === "-") {
    first.value++;
  } else if (input === "+") {
    if (first.value !== 0) first.value--;
  }
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent> </FirstComponent>
        <v-btn @click="counterStore.increment">INCREMENT</v-btn>
      </v-col>
      <v-col>
        <SecondComponent></SecondComponent>
        <v-btn @click="counterStore.decrease">DECREASE</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
