<script setup lang="ts">
import { defineProps } from "vue";
import type Shop from "@/stores/types/shop";
import { useShopStore } from "@/stores/shop";
var shopStore = useShopStore();

const props = defineProps<{
  id: number;
  name: string;
  price: number;
}>();
</script>
<template>
  <v-card class="mx-auto" max-width="344" outlined style="text-align: center">
    <h1>{{ props.id }}</h1>
    <h1>{{ props.price }}</h1>
    <v-btn @click="shopStore.add(props.id, props.name, props.price)">
      Add
    </v-btn>
  </v-card>
</template>
