<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
var counterStore = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ counterStore.doubleCount }}</div>
</template>
